{% extends 'base.html' %} {% block conteudo %}
<div class="starter-template">
    <h1>
        Welcome to our bookshop!
    </h1>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    Adicionar Livro
</button>

<!-- Modal 1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('add_book')}}" method="POST" class="form-control">
                    <label>Autor</label>
                    <input
                            class="form-control"
                            type="text"
                            name="autor"
                            placeholder="Nome do Autor"
                            required
                    />
                    <label>Titulo</label>
                    <input
                            class="form-control"
                            type="text"
                            name="titulo"
                            placeholder="Titulo"
                            required
                    />
                    <label>Valor</label>
                    <input
                            class="form-control"
                            type="float"
                            name="valor"
                            placeholder="Valor do Livro"
                            required
                    />
                    <button class="btn btn-success">Adicionar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- End Modal 1 -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table" border="1">
                <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for book in livros %}
                <tr>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.autor }}</td>
                    <td>{{ book.titulo }}</td>
                    <td>{{ book.valor }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2{{ book.isbn }}">Atualizar
                        </button>
                    </td>

                    <!-- Modal 2-->
                    <div class="modal fade" id="exampleModal2{{ book.isbn }}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="myModalLabel">Modal eee</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update_book', isbn=book.isbn)}}" method="POST"
                                          class="form-control">
                                        <label>Autor</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="autor"
                                                placeholder="Nome do Autor"
                                                required
                                        />
                                        <label>Titulo</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="titulo"
                                                placeholder="Titulo"
                                                required
                                        />
                                        <label>Valor</label>
                                        <input
                                                class="form-control"
                                                type="float"
                                                name="valor"
                                                placeholder="Valor do Livro"
                                                required
                                        />
                                        <button class="btn btn-success">Adicionar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal 2 -->
                    <td>
                        <a href="delete_book/{{book.isbn}}" class="btn btn-danger"> Excluir</a>

                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock conteudo %}
